<div class="container">
    <br>
    <h2>Select a template</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="/pdf-maker/1">
                First Template
            </a>
        </div>
        <div class="col-md-6">
            <a href="/pdf-maker/2">
                Second Template
            </a>
        </div>
    </div>
</div>